

.master-wrapper {
    --left-section: 65%;
    --list-width: 60%;
    
    
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;


}

.wrapper-2 {
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    background-color: rgb(170, 187, 167);

    
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper-3 {
    
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    background-color: rgb(144, 165, 140);

    
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-section {
    width: var(--left-section);
    height: 100%;
    background-color: rgb(135, 158, 131);

    display: flex;
}


.right-section {
    width: calc(100% - var(--left-section));
    height: 100%;
    background-color: rgb(128, 153, 123);


    display: flex;
    align-items: center;
    justify-content: center;
}



ul {
    list-style: none;
    text-decoration: none;
    
    width: var(--list-width);
    height: 100%;

    /* background-color: rgb(127, 150, 127); */

    font-style: italic;
    font-size: 2em;
    line-height: 2em;
    
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

li{
    box-sizing: border-box;
    display: block;

    cursor: pointer;
    position: relative;

    transition: all 0.2s ease;
}

li:hover {
    color: rgb(26, 62, 22);
}

li::before {
    content: "";
    height: 4px;
    width: 0%;
    background-color: rgb(51, 77, 49);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.2s ease;
}

li:hover::before {
    width: 79%;
}