

.master-wrapper {
    --left-section: 65%;
    --list-width: 60%;
    --section-height: 140vh;
    
    
    width: 100%;
    height: var(--section-height);

    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper-2 {
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    background-color: rgb(170, 187, 167);

    
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper-3 {
    
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    background-color: rgb(144, 165, 140);
    z-index: 1;

    
    display: flex;
    align-items: center;
    justify-content: center;
}

.cross{
    --clip-length: 9%;
    --offset: calc(100% - 30px);
    
    position: absolute;
    width: 100%;
    height: var(--section-height);
    background-color: #94b899;
    z-index: -1;
    clip-path: polygon(30px var(--clip-length), 30px var(--offset), var(--offset) var(--offset), var(--offset) calc(100% - var(--clip-length)));
}


.content {

}

.box {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: 3px dotted #124118;
    border-radius: 50%;
    background: #01a317;
  }